# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

v17/
build/
.vs/
*.pdb
*.exp

*.exp
*.pdb
DuckEngine/Run/DuckEngine.exp
DuckEngine/Run/DuckEngine.pdb

!DuckEngine/DuckEngine/ext/lib/Debug/*
!DuckEngine/DuckEngine/ext/lib/Release/*
!DuckEngine/DuckGame/ext/lib/Debug/*
!DuckEngine/DuckGame/ext/lib/Release/*

!DuckEngine/Run/*